*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html,body{
    height: 100%;
    background-color: #303841;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    max-width: 550px;
    height: 400px;
    padding: 0 16px;

    text-align: center;

    #upImg{
        display: none;
        & ~ label{
            border: 4px dashed rgba(255,255,255,0.3);

            width: 100%;
            height: 80%;
    
            border-radius: 16px;
    
            display: block;
            cursor: pointer;

            transition: .3s;

            color: rgba(255,255,255,0.5);


            padding-top: 96px;

            h1{
                font-size: 80px;
                margin-bottom: 8px;
            }

            h2{
                font-size: 24px;
            }

            &:hover{
                border-color: rgba(255,255,255,0.4);
                background: rgba(255,255,255,0.02);
                color: rgba(255,255,255,0.75);
            }
        }
    }

    &.notValid{
        label{
            border: 4px dashed rgba(255,155,155,0.3) !important;
            color: rgba(255,105,105,0.5) !important;
        }
    }

    input[type=submit]{
        background: #d6ab00;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white;
        font-weight: 700;
        font-size: 16px;

        padding: 12px 24px;

        outline: 0;
        border: 0;
        border-radius: 4px;
        margin-top: 16px;

        cursor: pointer;
    }
}